<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- comment -->
<plugin>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.ti.dvt.datamodel.ui.preferences.PreferenceInitializer"/>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="com.ti.common.ui.preferences.TIPreferencePage"
            class="com.ti.dvt.datamodel.ui.preferences.PreferencePage"
            id="com.ti.dvt.datamodel.ui.preferences.page"
            name="Advanced Tools">
         <keywordReference id="com.ti.dvt.datamodel.ui.preferences.page.keyword"/>
      </page>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution targetID="com.ti.dvt.ui.view.dataview" id="com.ti.dvt.datamodel.ui.views.data">
         <visibility>
            <or>
               <objectClass name="com.ti.dvt.ui.views.core.LineBaseProp"/>
               <objectClass name="com.ti.dvt.ui.views.core.DVTGraphProperty"/>               
               <objectClass name="com.ti.dvt.ui.views.core.TableProp"/>
               <objectClass name="com.ti.dvt.ui.views.core.BarProp"/>
            </or>
         </visibility>
         <menu label="Data" path="data.ext" id="com.ti.dvt.datamodel.ui.views.dataio">
            <separator name="snapshot"/>
            <separator name="stream"/>
         </menu>
         <action label="Export All..." icon="icons/data_save.gif" class="com.ti.dvt.datamodel.ui.actions.DataAction" menubarPath="com.ti.dvt.datamodel.ui.views.dataio/snapshot" id="com.ti.dvt.datamodel.ui.actions.DataAction:saveAs"/>
      </viewerContribution>
      <viewerContribution targetID="com.ti.dvt.ui.view.dataview" id="com.ti.dvt.datamodel.ui.views.visibledata">
         <visibility>
            <or>
               <objectClass name="com.ti.dvt.ui.views.core.TableProp"/>
            </or>
         </visibility>
         <menu label="Data" path="data.ext" id="com.ti.dvt.ui.views.dataio">
            <separator name="snapshot"/>
            <separator name="stream"/>
         </menu>
         <action
               class="com.ti.dvt.datamodel.ui.actions.DataAction"
               icon="icons/data_save.gif"
               id="com.ti.dvt.ui.DataAction:saveVisibleAs"
               label="Export Selected..."
               menubarPath="com.ti.dvt.datamodel.ui.views.dataio/snapshot"/>
      </viewerContribution>   
   </extension>
   <extension point="org.eclipse.ui.keywords">
      <keyword id="com.ti.dvt.datamodel.ui.preferences.page" label="Solution search path"/>
   </extension>
   <extension point="com.ti.dvt.ui.modelResolvers">
      <modelResolver class="com.ti.dvt.datamodel.ui.views.ModelResolver" id="com.ti.dvt.datamodel.ui.views.ModelResolver" name="DVT Model Resolver"/>
   </extension>
</plugin>
