<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension point="com.ti.common.project.core.projectTemplates">


		<!-- Templates applicable always -->

		<template
			id="com.ti.common.project.core.emptySystemProjectTemplate"
			name="%emptySystemProject_name"
			description="%emptySystemProject_description"
			outputType="system">
			<group id="com.ti.common.project.core.emptyProjectTemplates"/>
			<file path="resources/common/system/system.xml" openOnCreation="true"/>
		</template>
		
		
		<!-- Templates specific to the TI toolchain -->

		<templateSet>
			<applicability>
				<when>
					<context toolChain="TI"/>
				</when>
			</applicability>
			<template
				id="com.ti.common.project.core.emptyProjectTemplate"
				name="%emptyProject_name"
				description="%emptyProject_description">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
			</template>
		</templateSet>
		
		
		<!-- Templates specific to the TI toolchain, differing by device -->

		<templateSet>
			<applicability>
				<when>
					<context toolChain="TI"/>
				</when>
				<except>
					<context deviceFamily="MSP430"/>
					<context deviceFamily="MSP432"/>
				</except>
			</applicability>
			<template
				id="com.ti.common.project.core.emptyProjectWithMainTemplate"
				name="%emptyProjectWithMain_name"
				description="%emptyProjectWithMain_description">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
				<file path="resources/common/empty/main.c" openOnCreation="true"/>
			</template>
			<template
				id="com.ti.ccstudio.project.templates.emptyAssemblyOnly"
				name="%assemblyProject_name"
				description="%assemblyProject_description"
				linkerBuildOptions="!--rom_model --stack_size=0 --heap_size=0">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
				<property name="isAssemblyOnly" value="true"/>
			</template>
			<template
				id="com.ti.ccstudio.project.templates.fragment.emptyAssemblyOnly"
				name="%assemblyFragment_name"
				description="%assemblyFragment_description"
				isFragment="true"
				linkerBuildOptions="!--rom_model --stack_size=0 --heap_size=0">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
				<property name="isAssemblyOnly" value="true"/>
			</template>
		</templateSet>
		<templateSet>
			<applicability>
				<when>
					<context toolChain="TI"/>
				</when>
				<except>
					<context deviceFamily="MSP430"/> 
					<context deviceFamily="MSP432"/> 
					<context deviceFamily="C2000"/>
					<context deviceFamily="ARM" deviceId=".*\.(LM3S|LM4F|SC01).*"/>
				</except>
			</applicability>
			<template
				id="com.ti.ccstudio.project.templates.helloWorld"
				name="%hello_name"
				description="%hello_description"
				outputType="executable">
				<group id="com.ti.common.project.core.basicExampleTemplates"/>
				<file path="resources/common/hello/hello.c" openOnCreation="true"/>
			</template>
		</templateSet>
		<templateSet>
			<applicability>
				<when>
					<context toolChain="TI" deviceFamily="C2000"/>
				</when>
				<except>
					<context deviceId=".*\.TMS320F280\d\d.*"/>
				</except>
			</applicability>
			<template
				id="com.ti.ccstudio.project.templates.helloWorld_c2000"
				name="%hello_name"
				description="%hello_description"
				outputType="executable"
				compilerBuildOptions="--printf_support=minimal">
				<group id="com.ti.common.project.core.basicExampleTemplates"/>
				<file path="resources/common/hello/hello.c" openOnCreation="true"/>
			</template>
		</templateSet>
 		<templateSet>
			<applicability>
				<when>
					<context toolChain="TI" deviceFamily="MSP430"/>
				</when>
			</applicability>
			<template
				id="com.ti.common.project.core.emptyProjectWithMainTemplate_msp430"
				name="%emptyProjectWithMain_name"
				description="%emptyProjectWithMain_description">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
				<file path="resources/msp430/empty/main.c" openOnCreation="true"/>
			</template>
			<template
				id="com.ti.ccstudio.project.templates.emptyAssemblyOnly_msp430"
				name="%assemblyProject_name"
				description="%assemblyProject_description"
				compilerBuildOptions="--code_model=small --data_model=small"
				linkerBuildOptions="!--rom_model --stack_size=0 --heap_size=0 --entry_point=RESET">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
				<file path="resources/msp430/asm/main.asm" openOnCreation="true"/>
				<property name="isAssemblyOnly" value="true"/>
			</template>
			<template
				id="com.ti.ccstudio.project.templates.fragment.emptyAssemblyOnly_msp430"
				name="%assemblyFragment_name"
				description="%assemblyFragment_description"
				isFragment="true"
				compilerBuildOptions="--code_model=small --data_model=small"
				linkerBuildOptions="!--rom_model --stack_size=0 --heap_size=0 --entry_point=RESET">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
				<property name="isAssemblyOnly" value="true"/>
			</template>
			<template
				id="com.ti.ccstudio.project.templates.blink_msp430"
				name="%blink_name"
				description="%blink_description"
				outputType="executable">
				<group id="com.ti.common.project.core.basicExampleTemplates"/>
				<file path="resources/msp430/blink/ti/blink.c" openOnCreation="true"/>
			</template>
		</templateSet>
 		<templateSet>
			<applicability>
				<when>
					<context toolChain="TI" deviceFamily="MSP430"/>
				</when>
				<except>
					<context deviceId="MSP430(G|FR570|FR571).*"/>
				</except>
			</applicability>
			<template
				id="com.ti.ccstudio.project.templates.helloWorld_msp430"
				name="%hello_name"
				description="%hello_description"
				outputType="executable"
				linkerBuildOptions="--heap_size=300">
				<group id="com.ti.common.project.core.basicExampleTemplates"/>
				<file path="resources/msp430/hello/hello.c" openOnCreation="true"/>
			</template>
		</templateSet>
 		<templateSet>
			<applicability>
				<when>
					<context toolChain="TI" deviceFamily="MSP432"/>
				</when>
			</applicability>
			<template
				id="com.ti.common.project.core.emptyProjectWithMainTemplate_msp432"
				name="%emptyProjectWithMain_name"
				description="%emptyProjectWithMain_description">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
				<file path="resources/msp432/empty/main.c" openOnCreation="true"/>
			</template>
			<template
				id="com.ti.ccstudio.project.templates.emptyAssemblyOnly_msp432"
				name="%assemblyProject_name"
				description="%assemblyProject_description"
				linkerBuildOptions="!--rom_model --stack_size=0 --heap_size=0">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
				<property name="isAssemblyOnly" value="true"/>
			</template>
			<template
				id="com.ti.ccstudio.project.templates.fragment.emptyAssemblyOnly_msp432"
				name="%assemblyFragment_name"
				description="%assemblyFragment_description"
				isFragment="true"
				linkerBuildOptions="!--rom_model --stack_size=0 --heap_size=0">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
				<property name="isAssemblyOnly" value="true"/>
			</template>
			<template
				id="com.ti.ccstudio.project.templates.blink_msp432"
				name="%blink_name"
				description="%blink_description"
				outputType="executable">
				<group id="com.ti.common.project.core.basicExampleTemplates"/>
				<file path="resources/msp432/blink/blink.c" openOnCreation="true"/>
			</template>
			<template
				id="com.ti.ccstudio.project.templates.blinkCMSISStyle_msp432"
				name="%blinkCMSISStyle_name"
				description="%blinkCMSISStyle_description"
				outputType="executable">
				<group id="com.ti.common.project.core.basicExampleTemplates"/>
				<file path="resources/msp432/cmsis/blink.c" openOnCreation="true"/>
			</template>
		</templateSet>
		

		<!-- Templates specific to the GNU toolchain, differing by device -->

		<templateSet>
			<applicability>
				<when>
					<context toolChain="GNU"/>
				</when>
				<except>
					<context deviceFamily="ARM"/>
					<context deviceFamily="MSP430"/>
					<context deviceFamily="MSP432"/>
				</except> 
			</applicability>
			<template
				id="com.ti.common.project.core.emptyProjectTemplate_gnu"
				name="%emptyProject_name"
				description="%emptyProject_description"
				linkerBuildOptions="!-lc">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
			</template>
			<template
				id="com.ti.common.project.core.emptyProjectWithMainTemplate_gnu"
				name="%emptyProjectWithMain_name"
				description="%emptyProjectWithMain_description"
				linkerBuildOptions="!-lc">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
				<file path="resources/common/empty/main.c" openOnCreation="true"/>
			</template>
		</templateSet>
		<templateSet>
			<applicability>
				<when>
					<context toolChain="GNU" deviceFamily="ARM"/>
				</when>
			</applicability>
			<template
				id="com.ti.common.project.core.emptyProjectTemplate_gnu_arm"
				name="%emptyProject_name"
				description="%gnu_emptyProject_description__arm"
				compilerBuildOptions="-specs=&quot;nosys.specs&quot;"
				linkerBuildOptions="!-lc">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
			</template>
			<template
				id="com.ti.common.project.core.emptyProjectWithMainTemplate_gnu_arm"
				name="%emptyProjectWithMain_name"
				description="%gnu_emptyProjectWithMain_description__arm"
				compilerBuildOptions="-specs=&quot;nosys.specs&quot;"
				linkerBuildOptions="!-lc">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
				<file path="resources/common/empty/main.c" openOnCreation="true"/>
			</template>
		</templateSet>
		<templateSet>
			<applicability>
				<when>
					<context toolChain="GNU" deviceFamily="ARM" deviceId=".*\.(AM33).*" deviceVariant="CortexA8"/>
					<context toolChain="GNU" deviceFamily="ARM" deviceId=".*\.(AM43).*" deviceVariant="CortexA9"/>
					<context toolChain="GNU" deviceFamily="ARM" deviceId=".*\.(AM57).*" deviceVariant="CortexA15"/>
					<context toolChain="GNU" deviceFamily="ARM" deviceId=".*\.(66AK2G).*" deviceVariant="CortexA15"/>
				</when>
			</applicability>
			<template
				id="com.ti.ccstudio.project.templates.helloWorld_gnu_arm"
				name="%hello_name"
				description="%gnu_hello_description__arm"
				outputType="executable"
				compilerBuildOptions="-specs=&quot;rdimon.specs&quot;"
				linkerBuildOptions="!-lc">
				<group id="com.ti.common.project.core.basicExampleTemplates"/>
				<file path="resources/common/hello/hello.c" openOnCreation="true"/>
			</template>
		</templateSet>
		<templateSet>
			<applicability>
				<when>
					<context toolChain="GNU" deviceFamily="MSP430"/>
				</when>
			</applicability>
			<template
				id="com.ti.common.project.core.emptyProjectTemplate_gnu_msp430"
				name="%emptyProject_name"
				description="%emptyProject_description"
				linkerBuildOptions="-lc -lgcc">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
			</template>
			<template
				id="com.ti.common.project.core.emptyProjectWithMainTemplate_gnu_msp430"
				name="%emptyProjectWithMain_name"
				description="%emptyProjectWithMain_description"
				linkerBuildOptions="-lc -lgcc">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
				<file path="resources/msp430/empty/main.c" openOnCreation="true"/>
			</template>
			<template
				id="com.ti.ccstudio.project.templates.blink_gnu_msp430"
				name="%blink_name"
				description="%blink_description"
				linkerBuildOptions="-lc -lgcc">
				<group id="com.ti.common.project.core.basicExampleTemplates"/>
				<file path="resources/msp430/blink/gnu/blink.c" openOnCreation="true"/>
			</template>
		</templateSet>
 		<templateSet>
			<applicability>
				<when>
					<context toolChain="GNU" deviceFamily="MSP430"/>
				</when>
				<except>
					<context deviceId="MSP430(G|FR570|FR571).*"/>
				</except>
			</applicability>
			<template
				id="com.ti.ccstudio.project.templates.helloWorld_gnu_msp430"
				name="%hello_name"
				description="%hello_description"
				linkerBuildOptions="-lc -lgcc">
				<group id="com.ti.common.project.core.basicExampleTemplates"/>
				<file path="resources/msp430/hello/hello.c" openOnCreation="true"/>
			</template>
		</templateSet>
		<templateSet>
			<applicability>
				<when>
					<context toolChain="GNU" deviceFamily="MSP432"/>
				</when>
			</applicability>
			<template
				id="com.ti.common.project.core.emptyProjectTemplate_gnu_msp432"
				name="%emptyProject_name"
				description="%gnu_emptyProject_description__arm"
				linkerBuildOptions="-lc -lgcc -lnosys">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
			</template>
			<template
				id="com.ti.common.project.core.emptyProjectWithMainTemplate_gnu_msp432"
				name="%emptyProjectWithMain_name"
				description="%gnu_emptyProjectWithMain_description__arm"
				linkerBuildOptions="-lc -lgcc -lnosys">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
				<file path="resources/msp432/empty/main.c" openOnCreation="true"/>
			</template>
		</templateSet>
		
		
		<!-- Templates specific to the TICLANG toolchain -->

		<templateSet>
			<applicability>
				<when>
					<context toolChain="TICLANG"/>
				</when>
			</applicability>
			<template
				id="com.ti.common.project.core.emptyProjectTemplate_ticlang"
				name="%emptyProject_name"
				description="%emptyProject_description">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
			</template>
			<template
				id="com.ti.common.project.core.emptyProjectWithMainTemplate_ticlang"
				name="%emptyProjectWithMain_name"
				description="%emptyProjectWithMain_description">
				<group id="com.ti.common.project.core.emptyProjectTemplates"/>
				<file path="resources/common/empty/main.c" openOnCreation="true"/>
			</template>
		</templateSet>
		
	</extension>

</plugin>
