<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="paneProviders" name="Pane Providers" schema="schema/paneProviders.exsd"/>
   <extension-point id="modelResolvers" name="Model Resolvers" schema="schema/modelResolvers.exsd"/>
   <extension-point id="clProviders" name="CL Providers" schema="schema/clProviders.exsd"/>
   <extension-point id="toolBarActionProviders" name="Tool Bar Action Providers" schema="schema/toolBarActionProviders.exsd"/>
   <extension-point id="contextMenuActionProviders" name="Context Menu Action Providers" schema="schema/contextMenuActionProviders.exsd"/>
   <extension-point id="recordSelection" name="Record Selection" schema="schema/recordSelection.exsd"/>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.ti.dvt.ui.preferences.ViewPrefInitializer"/>
   </extension>
   <!-- SDSCM00025324 - this needs to be added by any plugin that might need it - pegah  
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            description="DVT Data Views"
            id="com.ti.dvt.ui.viewActionSet"
            label="DVT Data Views"
            visible="true">
         <action
               class="com.ti.dvt.ui.views.core.OpenViewAction"
               helpContextId="%help_openView"
               icon="icons/views/open_views.gif"
               id="com.ti.dvt.ui.openViewAction"
               label="Open &amp;Views"
               menubarPath="window/additions"
               style="pulldown"
               toolbarPath="solution/views"
               tooltip="Open a view that exists in the current solution"/>
      </actionSet>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.ti.dvt.ui.view.freeze"
            contextId="com.ti.dvt.ui.view.dataview"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+F5"/>
      <key
            commandId="com.ti.dvt.ui.view.filter"
            contextId="com.ti.dvt.ui.view.dataview"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+T"/>
      <key
            commandId="com.ti.dvt.ui.view.filterExpr"
            contextId="com.ti.dvt.ui.view.dataview"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T"/>
      <key
            commandId="com.ti.dvt.ui.view.group"
            contextId="com.ti.dvt.ui.view.dataview"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+G"/>
      <key
            commandId="com.ti.dvt.ui.view.groupDelete"
            contextId="com.ti.dvt.ui.view.dataview"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+G"/>
      <key
            commandId="com.ti.dvt.ui.view.groupNew"
            contextId="com.ti.dvt.ui.view.dataview"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G"/>
      <key
            commandId="com.ti.dvt.ui.view.horzAxis"
            contextId="com.ti.dvt.ui.view.graph"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+H"/>
      <key
            commandId="com.ti.dvt.ui.view.legend"
            contextId="com.ti.dvt.ui.view.graph"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+L"/>
      <key
            commandId="com.ti.dvt.ui.view.measureMark"
            contextId="com.ti.dvt.ui.view.graph"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M"/>
      <key
            commandId="com.ti.dvt.ui.view.measureMarkDeleteAll"
            contextId="com.ti.dvt.ui.view.graph"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+M"/>
      <key
            commandId="com.ti.dvt.ui.view.vertAxis"
            contextId="com.ti.dvt.ui.view.graph"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+V"/>
      <key
            commandId="com.ti.dvt.ui.view.end"
            contextId="com.ti.dvt.ui.view.dataview"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="END"/>
       <key
            commandId="com.ti.dvt.ui.view.copy"
            contextId="com.ti.dvt.ui.view.dataview"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Freeze data update on this view"
            id="com.ti.dvt.ui.view.freeze"
            name="Freeze Update"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Toggle filter on this view"
            id="com.ti.dvt.ui.view.filter"
            name="Toggle Filter"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Set filter expression on this view"
            id="com.ti.dvt.ui.view.filterExpr"
            name="Set Filter Expression"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Toggle this view to join a group"
            id="com.ti.dvt.ui.view.group"
            name="Toggle Grouping"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Delete a data view group"
            id="com.ti.dvt.ui.view.groupDelete"
            name="Delete Group"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Create a data view group"
            id="com.ti.dvt.ui.view.groupNew"
            name="New Group"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Toggle horizontal axis on this view"
            id="com.ti.dvt.ui.view.horzAxis"
            name="Toggle Horizontal Axis"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Toggle legend on this view"
            id="com.ti.dvt.ui.view.legend"
            name="Toggle Legend"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Toggle measurement marker mode on this view"
            id="com.ti.dvt.ui.view.measureMark"
            name="Toggle Measurement Marker Mode"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Delete all measurement marks on this view"
            id="com.ti.dvt.ui.view.measureMarkDeleteAll"
            name="Delete All Measurement Marks"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Toggle vertical axis on this view"
            id="com.ti.dvt.ui.view.vertAxis"
            name="Toggle Vertical Axis"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Copy selected rows"
            id="com.ti.dvt.ui.view.copy"
            name="Copy Selected"/>
     <command
            categoryId="org.eclipse.ui.category.views"
            description="Show latest"
            id="com.ti.dvt.ui.view.showLatest"
            name="Show Latest"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="remove selection key"
            id="com.ti.dvt.ui.view.end"
            name="End"/>      
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="A DVT data view or a graph is open"
            id="com.ti.dvt.ui.view.dataview"
            name="In DVT Data Views including graphs"
            parentId="org.eclipse.ui.contexts.window"/>
      <context
            description="A DVT data graph is open"
            id="com.ti.dvt.ui.view.graph"
            name="In DVT Data Graphs"
            parentId="com.ti.dvt.ui.view.dataview"/>
   </extension>
   <extension point="org.eclipse.ui.keywords">
      <keyword id="com.ti.dvt.ui.viewPrefKeyword" label="Color, Icon"/>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.ti.dvt.ui.viewMarker"
            targetID="com.ti.dvt.ui.view.graph">
         <visibility>
            <objectClass name="com.ti.dvt.ui.views.core.LineBaseProp"/>
         </visibility>
         <action
               class="com.ti.dvt.ui.views.core.MeasureMarkAction"
               helpContextId="%help_measurementMarker"
               id="com.ti.dvt.ui.view.MeasureMarkAction:deleteall"
               label="Remove All Measurement Marks"
               menubarPath="additions"
               tooltip="Remove All Measurement Marks">
         </action>
         <action
               class="com.ti.dvt.ui.views.core.MeasureMarkAction"
               helpContextId="%help_measurementMarker"
               id="com.ti.dvt.ui.view.MeasureMarkAction:deleteone"
               label="Remove Measurement Mark"
               menubarPath="additions"
               tooltip="Remove a Measurement Mark">
         </action>
         <action
               class="com.ti.dvt.ui.views.core.MeasureMarkAction"
               helpContextId="%help_measurementMarker"
               id="com.ti.dvt.ui.view.MeasureMarkAction:add"
               label="Insert Measurement Mark"
               icon="icons/internal/measure_mark.gif"
               menubarPath="additions"
               tooltip="Insert a Measurement Mark">
         </action>


      </viewerContribution>


      <viewerContribution
            id="com.ti.dvt.ui.viewMarker"
            targetID="com.ti.dvt.ui.view.graph">
         <visibility>
            <objectClass name="com.ti.dvt.ui.views.core.DVTGraphProperty"/>  
         </visibility>
         <action
               class="com.ti.dvt.ui.views.core.MeasureMarkAction"
               helpContextId="%help_measurementMarker"
               id="com.ti.dvt.ui.view.MeasureMarkAction:deleteall"
               label="Remove All Measurement Marks"
               menubarPath="additions"
               tooltip="Remove All Measurement Marks">
         </action>
         <action
               class="com.ti.dvt.ui.views.core.MeasureMarkAction"
               helpContextId="%help_measurementMarker"
               id="com.ti.dvt.ui.view.MeasureMarkAction:deleteone"
               label="Remove Measurement Mark"
               menubarPath="additions"
               tooltip="Remove a Measurement Mark">
         </action>
         <action
               class="com.ti.dvt.ui.views.core.MeasureMarkAction"
               helpContextId="%help_measurementMarker"
               id="com.ti.dvt.ui.view.MeasureMarkAction:add"
               label="Insert Measurement Mark"
               icon="icons/internal/measure_mark.gif"
               menubarPath="additions"
               tooltip="Insert a Measurement Mark">
         </action>
      </viewerContribution>


      <viewerContribution
            id="com.ti.dvt.ui.viewMarker2"
            targetID="com.ti.dvt.ui.view.graph">
         <visibility>
            <objectClass name="class.that.does.not.exist"/>  
         </visibility>
         <action
               class="com.ti.dvt.ui.views.core.MeasureMarkModeAction"
               helpContextId="%help_measurementMarker"
               id="com.ti.dvt.ui.view.MeasureMarkMode"
               label="Measurement Marker Mode"
               icon="icons/internal/measure_mark.gif"
               menubarPath="additions"
               style="pulldown"
               tooltip="Toggle Measurement Marker Mode (Freeform or Snap to Data Mode)">
         </action>

      </viewerContribution>
      
      <viewerContribution
            id="com.ti.dvt.ui.viewBookMark"
            targetID="com.ti.dvt.ui.view.graph">
         <visibility>
         	<or>
            <objectClass name="com.ti.dvt.ui.views.core.GraphProp"/>         
             <objectClass name="com.ti.dvt.ui.views.core.DVTGraphProperty"/>
             </or>
         </visibility>
             <action
               class="com.ti.dvt.ui.views.bookmarks.BookMarkAction"
               helpContextId="%help_bookMarker"
               id="com.ti.dvt.ui.view.BookMarkAction:add"
               icon="icons/internal/bookmark_add.gif"
               label="Insert a BookMark"
               menubarPath="additions"
               tooltip="Insert a BookMark">
         	</action>
         
      </viewerContribution>
      
      <viewerContribution
            id="com.ti.dvt.ui.viewBookMark1"
            targetID="com.ti.dvt.ui.view.graph">
         <visibility>
            <objectClass name="class.that.does.not.exist"/>
         </visibility>

           <action
               class="com.ti.dvt.ui.views.bookmarks.BookMarkModeAction"
               helpContextId="%help_bookMarker"
               icon="icons/internal/bookmark_add.gif"
               id="com.ti.dvt.ui.view.BookMarkMode"
               label="BookMark Mode"
               menubarPath="additions"
               style="pulldown"
               tooltip="BookMark Mode">
         </action>
  
      </viewerContribution>
    
      
      <viewerContribution
            id="com.ti.dvt.ui.viewGroup"
            targetID="com.ti.dvt.ui.view.dataview">
         <visibility>
            <objectState
                  name="viewGroup"
                  value="support"/>
         </visibility>
         <action
               class="com.ti.dvt.ui.views.core.ViewGroupAction"
               helpContextId="%help_group"
               id="com.ti.dvt.ui.view.ViewGroupAction"
               label="Groups"
               menubarPath="additions"
               tooltip="Join group">
         </action>
         <action
               class="com.ti.dvt.ui.views.core.ViewGroupToggleAction"
               helpContextId="%help_group"
               icon="icons/internal/group_couple.gif"
               id="com.ti.dvt.ui.view.ViewGroupToggleAction"
               label="Enable Grouping"
               menubarPath="additions"
               style="toggle"
               tooltip="Join this View to Group">
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.ti.dvt.ui.viewData"
            targetID="com.ti.dvt.ui.view.dataview">
         <action
               class="com.ti.dvt.ui.views.core.FreezeUpdateAction"
               helpContextId="%help_freeze"
               icon="icons/internal/suspend.gif"
               id="com.ti.dvt.ui.view.FreezeUpdateAction"
               label="Freeze Update"
               menubarPath="data.group"
               style="toggle"
               tooltip="Freeze Data Update">
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.ti.dvt.ui.viewVertAxis"
            targetID="com.ti.dvt.ui.view.graph">
         <visibility>
           <objectState
                 name="viewVertAxis"
                 value="support"/>
         </visibility>
         <action
               class="com.ti.dvt.ui.views.core.ShowVertAxisAction"
               helpContextId="%help_axis"
               id="com.ti.dvt.ui.view.ShowVertAxisAction"
               label="Vertical Axis"
               menubarPath="show.group"
               style="toggle"
               tooltip="Toggle Vertical Axis">
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.ti.dvt.ui.viewHorzAxis"
            targetID="com.ti.dvt.ui.view.graph">
         <visibility>
           <objectState
                 name="viewHorzAxis"
                 value="support"/>
         </visibility>
         <action
               class="com.ti.dvt.ui.views.core.ShowHorzAxisAction"
               helpContextId="%help_axis"
               id="com.ti.dvt.ui.view.ShowHorzAxisAction"
               label="Horizontal Axis"
               menubarPath="show.group"
               style="toggle"
               tooltip="Toggle Horizontal Axis">
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.ti.dvt.ui.viewLegend"
            targetID="com.ti.dvt.ui.view.graph">
         <visibility>
            <objectState
                  name="viewLegend"
                  value="support"/>
         </visibility>
         <action
               class="com.ti.dvt.ui.views.core.ShowLegendAction"
               helpContextId="%help_legend"
               id="com.ti.dvt.ui.view.ShowLegendAction"
               label="Legend"
               menubarPath="show.group"
               style="toggle"
               tooltip="Toggle Legend">
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.ti.dvt.ui.viewAutoScale"
            targetID="com.ti.dvt.ui.view.graph">
         <visibility>
            <objectState
                  name="viewAutoScale"
                  value="support"/>
         </visibility>
         <action
               class="com.ti.dvt.ui.views.core.AutoScaleAction"
               id="com.ti.dvt.ui.view.AutoScaleAction:reset"
               label="Reset Auto Scale"
               menubarPath="zoom.group"
               tooltip="Reset Auto Scale">
         </action>
         <action
               class="com.ti.dvt.ui.views.core.AutoScaleAction"
               id="com.ti.dvt.ui.view.AutoScaleAction"
               label="Auto Scale"
               menubarPath="zoom.group"
               style="toggle"
               tooltip="Toggle Auto Scale">
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.ti.dvt.ui.viewDiscrete"
            targetID="com.ti.dvt.ui.views.discrete">
         <action
               class="com.ti.dvt.ui.views.core.ShowPropertyAction"
               definitionId="org.eclipse.ui.file.properties"
               id="com.ti.dvt.ui.view.ShowPropertyAction:com.ti.dvt.ui.views.core.StatePropView"
               label="Display Properties"
               menubarPath="prop.group"
               tooltip="Show Display Properties"/>
      </viewerContribution>
      <viewerContribution
            id="com.ti.dvt.ui.viewLine"
            targetID="com.ti.dvt.ui.views.line">
         <action
               class="com.ti.dvt.ui.views.core.ShowPropertyAction"
               definitionId="org.eclipse.ui.file.properties"
               id="com.ti.dvt.ui.view.ShowPropertyAction:com.ti.dvt.ui.views.core.LinePropView"
               label="Display Properties"
               menubarPath="prop.group"
               tooltip="Show Display Properties">
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.ti.dvt.ui.viewArea"
            targetID="com.ti.dvt.ui.views.area">
         <action
               class="com.ti.dvt.ui.views.core.ShowPropertyAction"
               definitionId="org.eclipse.ui.file.properties"
               id="com.ti.dvt.ui.view.ShowPropertyAction:com.ti.dvt.ui.views.core.AreaPropView"
               label="Display Properties"
               menubarPath="prop.group"
               tooltip="Show Display Properties">
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.ti.dvt.ui.viewState"
            targetID="com.ti.dvt.ui.views.state">
         <action
               class="com.ti.dvt.ui.views.core.ShowPropertyAction"
               definitionId="org.eclipse.ui.file.properties"
               id="com.ti.dvt.ui.view.ShowPropertyAction:com.ti.dvt.ui.views.core.StatePropView"
               label="Display Properties"
               menubarPath="prop.group"
               tooltip="Show Display Properties"/>
      </viewerContribution>
      
      <viewerContribution
            id="com.ti.dvt.ui.viewDvtGraph"
            targetID="com.ti.dvt.ui.views.dvtgraph">
         <action
               class="com.ti.dvt.ui.views.core.ShowPropertyAction"
               definitionId="org.eclipse.ui.file.properties"
               id="com.ti.dvt.ui.view.ShowPropertyAction:com.ti.dvt.ui.views.core.DVTGraphPropertyView"
               label="Display Properties"
               menubarPath="prop.group"
               tooltip="Show Display Properties"/>
      </viewerContribution>
            
   </extension>
   <!-- SDSCM00031517
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="com.ti.common.ui.preferences.TIPreferencePage/com.ti.dvt.datamodel.ui.preferences.page/"
            class="com.ti.dvt.ui.preferences.ViewPrefPage"
            id="com.ti.dvt.ui.viewPreference"
            name="DVT">
         <keywordReference id="com.ti.dvt.ui.viewPrefKeyword"/>
      </page>
   </extension>
   -->
   <extension point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.ti.dvt.ui.viewFreeze"
            targetID="com.ti.dvt.ui.view.dataview">
         <action
               class="com.ti.dvt.ui.views.core.FreezeUpdateAction"
               icon="icons/internal/suspend.gif"
               id="com.ti.dvt.ui.view.FreezeUpdateAction"
               label="F reeze Update"
               style="toggle"
               toolbarPath="data.group"
               tooltip="Freeze Data Update">
         </action>
      </viewContribution>
   </extension>
   <extension point="org.eclipse.ui.views">
      <category
            id="com.ti.dvt.ui.viewCategory"
            name="%viewCategoryName"/>
      <category
            id="com.ti.dvt.ui.viewCategory.dataView"
            name="%viewCategoryName_dataView"
            />
      <view
            allowMultiple="true"
            category="com.ti.dvt.ui.viewCategory.dataView"
            class="com.ti.dvt.ui.views.core.PaneView:table"
            icon="icons/views/table.gif"
            id="com.ti.dvt.ui.views.table"
            name="%tableViewName"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            category="com.ti.dvt.ui.viewCategory.dataView"
            class="com.ti.dvt.ui.views.core.RestorableView:table"
            icon="icons/views/table.gif"
            id="com.ti.dvt.ui.views.restorable.table"
            name="%tableViewName"
            restorable="true">
      </view>      
      <!--
      <view
            allowMultiple="true"
            category="com.ti.dvt.ui.viewCategory.dataView"
            class="com.ti.dvt.ui.views.core.PaneView:google"
            icon="icons/views/table.gif"
            id="com.ti.dvt.ui.views.google"
            name="Google Charts">
      </view>
      -->      
      <view
            allowMultiple="true"
            category="com.ti.dvt.ui.viewCategory.dataView"
            class="com.ti.dvt.ui.views.core.PaneView:bar"
            icon="icons/views/bar.gif"
            id="com.ti.dvt.ui.views.bar"
            name="%barViewName">
      </view>
      <view
            allowMultiple="true"
            category="com.ti.dvt.ui.viewCategory.dataView"
            class="com.ti.dvt.ui.views.core.PaneView:line"
            icon="icons/views/line.gif"
            id="com.ti.dvt.ui.views.line"
            name="%lineViewName"
            restorable="false">
      </view>
      
      <view
            allowMultiple="true"
            category="com.ti.dvt.ui.viewCategory.dataView"
            class="com.ti.dvt.ui.views.core.RestorableView:line"
            icon="icons/views/line.gif"
            id="com.ti.dvt.ui.views.restorable.line"
            name="%lineViewName"
            restorable="true">
      </view>
            
      <view
            allowMultiple="true"
            category="com.ti.dvt.ui.viewCategory.dataView"
            class="com.ti.dvt.ui.views.core.PaneView:state"
            icon="icons/views/state.gif"
            id="com.ti.dvt.ui.views.state"
            name="%stateViewName">
      </view>
      <view
            allowMultiple="true"
            category="com.ti.dvt.ui.viewCategory.dataView"
            class="com.ti.dvt.ui.views.core.PaneView:discrete"
            icon="icons/views/discrete.gif"
            id="com.ti.dvt.ui.views.discrete"
            name="%discreteViewName">
      </view>
      <view
            allowMultiple="true"
            category="com.ti.dvt.ui.viewCategory.dataView"
            class="com.ti.dvt.ui.views.core.PaneView:area"
            icon="icons/views/line.gif"
            id="com.ti.dvt.ui.views.area"
            name="%areaViewName">
      </view>
      <view
            allowMultiple="true"
            category="com.ti.dvt.ui.viewCategory.dataView"
            class="com.ti.dvt.ui.views.core.PaneView:dvtgraph"
            icon="icons/views/timing.gif"
            id="com.ti.dvt.ui.views.dvtgraph"
            name="%dvtViewName"
            restorable="false">
      </view>
      
      <view
            allowMultiple="true"
            category="com.ti.dvt.ui.viewCategory.dataView"
            class="com.ti.dvt.ui.views.core.RestorableView:dvtgraph"
            icon="icons/views/timing.gif"
            id="com.ti.dvt.ui.views.restorable.dvtgraph"
            name="%dvtViewName"
            restorable="true">
      </view>
            
      
   </extension>
   <extension
         point="com.ti.dvt.ui.paneProviders">
      <paneProvider
            class="com.ti.dvt.ui.views.core.PaneProvider"
            id="com.ti.dvt.ui.paneProvider"
            name="DVT pane provider"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="com.ti.dvt.ui.DvtUIPlugin"/>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
	  <perspectiveExtension
        targetID="com.ti.ccstudio.TICPerspective">
		<!-- Menu items -->
		<hiddenMenuItem id="com.ti.dvt.tools.menu"/>
		<hiddenMenuItem id="com.ti.dvt.analysis.menu"/>
		<!-- Toolbar items -->     
		<hiddenToolBarItem id="com.ti.dvt.ui.openViewAction"/>
	  </perspectiveExtension>	
   </extension>
</plugin>
