<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ti.ccstudio.branding.highlightsProvider2">
      <hightlightsProvider2
            description="ULP Advisor will help you in achieving better power"
            href="highlightsHTML/ULP_Advisor_Highlights.html"
            label="ULP Advisor">
      </hightlightsProvider2>
   </extension>

</plugin>
