<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ti.rex.ccsplugin.editors.ResourceExplorerEditor"
            default="true"
            extensions="ccsre"
            icon="icons/obj16/navigator.png"
            id="com.ti.rex.ccsplugin.rexEditor"
            name="%pluginName">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ti.rex.ccsplugin.editors.ProjectWizardEditor"
            default="false"
            icon="icons/obj16/navigator.png"
            id="com.ti.rex.ccsplugin.wizardEditor"
            name="%PROJWIZARD.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.ti.rex.ccsplugin.OpenExplorerHandler"
            id="com.ti.rex.ccsplugin.openRex"
            name="%pluginName">
           <commandParameter id="majorVersion" name="MajorVersion"> </commandParameter>
           <commandParameter id="minorVersion" name="MinorVersion"> </commandParameter>
           <commandParameter id="offline" name="Offline"> </commandParameter>
           <commandParameter id="homeUrl" name="HomeURL"> </commandParameter>
           <commandParameter id="subPath" name="SubPath"> </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               id="com.ti.ccstudio.debug.ui.viewsMenu"
               label="&amp;View">
          	 <separator name="com.ti.ccstudio.debug.ui.viewsMenu.group.intro" visible="false"/>
          	 <separator name="com.ti.ccstudio.debug.ui.viewsMenu.group.gc" visible="false"/>
          	 <separator name="com.ti.ccstudio.debug.ui.viewsMenu.group.views" visible="false"/>
          </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:com.ti.ccstudio.debug.ui.viewsMenu?after=com.ti.ccstudio.debug.ui.viewsMenu.group.intro">
	         <command
	               commandId="com.ti.rex.ccsplugin.openRex"
	               id="com.ti.rex.ccsplugin.openRex"
                   icon="icons/obj16/navigator.png"
	               label="%REX4.label"
    		       description="%REX4.desc"
    		       tooltip="%REX4.desc"
	               style="push">
				<parameter name="majorVersion" value="4"> </parameter>
	            <visibleWhen
	                  checkEnabled="false">
	               <with
	                     variable="activeWorkbenchWindow.activePerspective">
	                  <or>
	                     <equals
                               value="com.ti.ccstudio.TISimplePerspective">
                         </equals>
	                     <equals
	                           value="com.ti.ccstudio.TICPerspective">
	                     </equals>
	                     <equals
	                           value="com.ti.ccstudio.TIDebugPerspective">
	                     </equals>
	                  </or>
	               </with>
	            </visibleWhen>
	         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:com.ti.ccstudio.debug.ui.viewsMenu?after=com.ti.rex.ccsplugin.openRex">
	         <command
	               commandId="com.ti.rex.ccsplugin.openRex"
	               id="com.ti.rex.ccsplugin.openRex"
                   icon="icons/obj16/navigator.png"
	               label="%REX3_offline.label"
    		       description="%REX3_offline.desc"
    		       tooltip="%REX3_offline.desc"
	               style="push">
	            <parameter name="majorVersion" value="3" />
	            <parameter name="offline" value="true" />
	            <visibleWhen
	                  checkEnabled="false">
	               <with
	                     variable="activeWorkbenchWindow.activePerspective">
	                  <or>
	                     <equals
                               value="com.ti.ccstudio.TISimplePerspective">
                         </equals>
	                     <equals
	                           value="com.ti.ccstudio.TICPerspective">
	                     </equals>
	                     <equals
	                           value="com.ti.ccstudio.TIDebugPerspective">
	                     </equals>
	                  </or>
	               </with>
	            </visibleWhen>
	         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:project?after=com.ti.ccstudio.project.ui.command.newProject">
	         <command
	               commandId="com.ti.rex.ccsplugin.openRex"
	               id="com.ti.rex.ccsplugin.openRex"
                   icon="icons/obj16/navigator.png"
	               label="%PROJWIZARD.label"
    		       description="%PROJWIZARD.desc"
    		       tooltip="%PROJWIZARD.desc"
	               style="push">
	            <parameter name="majorVersion" value="4"> </parameter>
	            <parameter name="subPath" value="wizard" />
	            <visibleWhen>
					<or>
						<with variable="activeWorkbenchWindow.activePerspective">
							<equals value="com.ti.ccstudio.TICPerspective"/>
						</with>
						<with variable="activeWorkbenchWindow.activePerspective">
							<equals value="com.ti.ccstudio.TISimplePerspective"/>
						</with>
					</or>						
	            </visibleWhen>
	         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.ti.rex.ccsplugin.editors.ResourceEditorInputFactory"
            id="com.ti.rex.ccsplugin.editor.inputFactory">
      </factory>
      <factory
            class="com.ti.rex.ccsplugin.editors.ResourceEditorInputFactory"
            id="com.ti.rex.ccsplugin.editor.elementFactory">
      </factory>
   </extension>
</plugin>
