<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="com.ti.common.project.core.projectTemplates">
        <templateSet>
            <applicability>
                <when>
                <context
                    deviceFamily="ARM"
                    toolChain="TI"
                    deviceId="Cortex M.C*2538*"/>
                </when>
            </applicability>
            <template
                id="com.ti.cc2538.example.blink_led_cc2538"
                name="Blink LED CC2538"
                description="Blink LED Example Project for CC2538"
                compilerBuildOptions="-g --diag_warning=225 -me --define=DEBUG --define=CC2538_USE_ALTERNATE_INTERRUPT_MAP --include_path=${CG_TOOL_ROOT}/include --gen_func_subsections --ual"
                linkerBuildOptions="-m${ProjName}.map --warn_sections -i${CG_TOOL_ROOT}/lib -i${CG_TOOL_ROOT}/include --reread_libs --rom_model --stack_size=256 --heap_size=0" >
            <file path="resources/blinky/blinky.c"/>
            <group id="com.ti.common.project.core.otherExampleTemplates"/>
            </template>
        </templateSet>
    </extension>
</plugin>
