<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			id="com.ti.ccstudio.energia.ui.preferences.EnergiaPreferencePage"
			name="%energiaPreferencePage.title"
			category="com.ti.common.project.ui.preferences.ProductsPreferencePage"
			class="com.ti.ccstudio.energia.ui.internal.preferences.EnergiaPreferencePage"/>
	</extension>
	
<!-- Deprecated functionality - hidden for now, to be removed later [https://jira.itg.ti.com/browse/CCSIDE-4122]
	<extension point="org.eclipse.ui.newWizards">
		<category id="com.ti.ccstudio.energia.ui.new" name="%Energia_NewWizardsCategory"/>
	</extension>
	
	<extension point="org.eclipse.ui.importWizards">
		<category id="com.ti.ccstudio.energia.ui.import" name="%Energia_ImportWizardsCategory"/>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard
			id="com.ti.ccstudio.energia.ui.wizards.project.NewSketchWizard"
			name="%newSketchWizard.name"
			icon="icons/etool16/new_sketch.gif"
			class="com.ti.ccstudio.energia.ui.internal.wizards.project.NewSketchWizard"
			category="com.ti.ccstudio.energia.ui.new"
			preferredPerspectives="com.ti.ccstudio.TICPerspective,com.ti.ccstudio.TIDebugPerspective,com.ti.ccstudio.TISimplePerspective"
			project="true">
			<description>
				%newSketchWizard.desc
			</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.importWizards">
		<wizard 
			id="com.ti.ccstudio.energia.ui.wizards.importexport.ImportSketchWizard" 
			name="%importSketchWizard.name" 
			class="com.ti.ccstudio.energia.ui.internal.wizards.importexport.ImportSketchWizard" 
			category="com.ti.ccstudio.energia.ui.import" 
			icon="icons/etool16/import_sketch.gif">
			<description>
				%importSketchWizard.desc
			</description>
		</wizard>
	</extension>
-->
	
	<!-- Contributed through com.ti.ccstudio.project.ui plugin - to ensure the ordering with the New CCS Project wizard
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="com.ti.ccstudio.TISimplePerspective">
			<newWizardShortcut id="com.ti.ccstudio.energia.ui.wizards.project.NewSketchWizard"/>
		</perspectiveExtension>
	</extension-->
	
<!-- Deprecated functionality - hidden for now, to be removed later [https://jira.itg.ti.com/browse/CCSIDE-4122]
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonWizard
			wizardId="com.ti.ccstudio.energia.ui.wizards.project.NewSketchWizard"
			associatedExtensionId="org.eclipse.cdt.ui.navigator.content"
			type="new">
			<enablement>
				<or>
					<with variable="activeWorkbenchWindow.activePerspective">
						<equals value="com.ti.ccstudio.TICPerspective"/>
					</with>
					<with variable="activeWorkbenchWindow.activePerspective">
						<equals value="com.ti.ccstudio.TISimplePerspective"/>
					</with>
				</or>
			</enablement>
		</commonWizard>
		<commonWizard
			wizardId="com.ti.ccstudio.energia.ui.wizards.importexport.ImportSketchWizard"
			associatedExtensionId="org.eclipse.cdt.ui.navigator.content"
			type="import">
			<enablement>
				<or>
					<with variable="activeWorkbenchWindow.activePerspective">
						<equals value="com.ti.ccstudio.TICPerspective"/>
					</with>
					<with variable="activeWorkbenchWindow.activePerspective">
						<equals value="com.ti.ccstudio.TISimplePerspective"/>
					</with>
				</or>
			</enablement>
		</commonWizard>
		<commonFilter
			id="com.ti.ccstudio.energia.ui.EnergiaLibraryProjectFilter"
			name="%filter.EnergiaLibraryProjectFilter.name"
			description="%filter.EnergiaLibraryProjectFilter.desc"
			class="com.ti.ccstudio.energia.ui.internal.EnergiaLibraryProjectFilter"/>
	</extension>
	<extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding 
			viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension pattern="com.ti.ccstudio.energia.ui.EnergiaLibraryProjectFilter"/>
			</includes>
		</viewerContentBinding>
	</extension>
-->
      
	<extension point="org.eclipse.ui.commands">
		<category
			id="com.ti.ccstudio.energia.ui.commandCategory"
			name="%command.label"
			description="%command.desc"/>

<!-- Deprecated functionality - hidden for now, to be removed later [https://jira.itg.ti.com/browse/CCSIDE-4122]
		<command
			id="com.ti.ccstudio.energia.ui.command.newSketch"
			name="%command.newSketch.name"
			description="%command.newSketch.desc"
			categoryId="com.ti.ccstudio.energia.ui.commandCategory"/>
		<command
			id="com.ti.ccstudio.energia.ui.command.importSketch"
			name="%command.importSketch.name"
			description="%command.importSketch.desc"
			categoryId="com.ti.ccstudio.energia.ui.commandCategory"/>
-->
			
		<command
			id="com.ti.ccstudio.energia.ui.command.importLibraries"
			name="%command.importLibraries.name"
			description="%command.importLibraries.desc"
			categoryId="com.ti.ccstudio.energia.ui.commandCategory"/>
	</extension>
	
	<extension point="org.eclipse.ui.handlers">

<!-- Deprecated functionality - hidden for now, to be removed later [https://jira.itg.ti.com/browse/CCSIDE-4122]
		<handler
			commandId="com.ti.ccstudio.energia.ui.command.newSketch"
			class="com.ti.ccstudio.energia.ui.internal.actions.NewSketchAction"/>
		<handler
			commandId="com.ti.ccstudio.energia.ui.command.importSketch"
			class="com.ti.ccstudio.energia.ui.internal.actions.ImportSketchAction"/>
-->

		<handler
			commandId="com.ti.ccstudio.energia.ui.command.importLibraries"
			class="com.ti.ccstudio.energia.ui.internal.actions.ImportLibrariesAction"/>
	</extension>

	<extension point="org.eclipse.ui.menus">

<!-- Deprecated functionality - hidden for now, to be removed later [https://jira.itg.ti.com/browse/CCSIDE-4122]
		<menuContribution locationURI="menu:project?before=open.ext">
			<command
				commandId="com.ti.ccstudio.energia.ui.command.newSketch"
				label="%command.newSketch.name"
				tooltip="%command.newSketch.desc"
				icon="icons/etool16/new_sketch.gif"
				mnemonic="N"
				style="push">
				<visibleWhen>
					<or>
						<with variable="activeWorkbenchWindow.activePerspective">
							<equals value="com.ti.ccstudio.TICPerspective"/>
						</with>
						<with variable="activeWorkbenchWindow.activePerspective">
							<equals value="com.ti.ccstudio.TISimplePerspective"/>
						</with>
					</or>						
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:project?endof=additions">
			<command
				commandId="com.ti.ccstudio.energia.ui.command.importSketch"
				label="%command.importSketch.name"
				tooltip="%command.importSketch.desc"
				icon="icons/etool16/import_sketch.gif"
				mnemonic="S"
				style="push">
				<visibleWhen>
					<or>
						<with variable="activeWorkbenchWindow.activePerspective">
							<equals value="com.ti.ccstudio.TICPerspective"/>
						</with>
						<with variable="activeWorkbenchWindow.activePerspective">
							<equals value="com.ti.ccstudio.TISimplePerspective"/>
						</with>
					</or>						
				</visibleWhen>
			</command>
		</menuContribution>
-->

		<menuContribution locationURI="menu:project?endof=additions">
			<command
				commandId="com.ti.ccstudio.energia.ui.command.importLibraries"
				label="%command.importLibraries.name"
				tooltip="%command.importLibraries.desc"
				icon="icons/etool16/import_library.gif"
				mnemonic="L"
				style="push">
				<visibleWhen>
					<with variable="selection">
						<count value="+"/>
						<iterate>
							<test property="org.eclipse.core.resources.open" value="true"/>
							<test property="org.eclipse.core.resources.projectNature" value="com.ti.ccstudio.energia.sketchNature"/>
						</iterate>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=group.build">
			<command
				commandId="com.ti.ccstudio.energia.ui.command.importLibraries"
				label="%command.importLibraries.name"
				tooltip="%command.importLibraries.desc"
				icon="icons/etool16/import_library.gif"
				mnemonic="L"
				style="push">
				<visibleWhen>
					<with variable="selection">
						<count value="+"/>
						<iterate>
							<test property="org.eclipse.core.resources.open" value="true"/>
							<test property="org.eclipse.core.resources.projectNature" value="com.ti.ccstudio.energia.sketchNature"/>
						</iterate>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	
<!-- Deprecated functionality - hidden for now, to be removed later [https://jira.itg.ti.com/browse/CCSIDE-4122]
	<extension point="com.ti.ccstudio.branding.highlightsProvider2">
		<hightlightsProvider2
			label="Energia Project Import"
			description="Import Energia .ino files into CCS"
			href="html/energia_highlights.html"/>
	</extension>
-->

</plugin>
