<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="com.ti.dvt.control.engine.activityProviders">
      <activityProvider
            class="com.ti.dvt.analysis.traceviewer.activity.TraceViewerActivityProvider"
            id="com.ti.dvt.analysis.traceviewer.activity.TraceViewerActivityProvider"
            name="Trace Viewer Activity Provider"/>
   </extension>
   <extension point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library=".">
      </extraClasspathEntry>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view allowMultiple="true" category="com.ti.dvt.ui.viewCategory.dataView" class="com.ti.dvt.ui.views.core.PaneView:tracetableview" icon="icons/views/table.gif" id="com.ti.dvt.ui.tracetableview" name="Trace Display"/>
   </extension>
     <extension
           point="org.eclipse.ui.preferencePages">
        <page
              category="com.ti.common.ui.preferences.TIPreferencePage/com.ti.dvt.datamodel.ui.preferences.page/"
              class="com.ti.dvt.analysis.traceviewer.preferences.TracePreferencePage"
              id="com.ti.dvt.analysis.traceviewer.preferences.TracePreferencePage"
              name="Trace Viewer"/>
     </extension>
     <extension
           point="org.eclipse.core.runtime.preferences">
        <initializer class="com.ti.dvt.analysis.traceviewer.preferences.PreferenceInitializer"/>
     </extension>
</plugin>
