<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

	<extension point="com.ti.common.project.core.projectCoreDelegateFactories">
		<delegate class="com.ti.ccstudio.energia.core.internal.EnergiaDelegateFactory"/>
	</extension>
	
	<extension point="com.ti.common.project.core.buildDelegates">
		<delegate class="com.ti.ccstudio.energia.core.internal.build.BuildDelegate"/>
	</extension>
	
	<extension point="com.ti.common.project.core.configurationBuildMacroSupplierDelegates">
		<delegate class="com.ti.ccstudio.energia.core.internal.build.EnergiaConfigurationBuildMacroSupplierDelegate"/>
	</extension>
	<extension point="com.ti.common.project.core.configurationEnvironmentSupplierDelegates">
		<delegate class="com.ti.ccstudio.energia.core.internal.build.EnergiaConfigurationEnvironmentSupplierDelegate"/>
	</extension>
	
	<extension point="com.ti.common.project.core.projectStateListeners">
		<listener class="com.ti.ccstudio.energia.core.internal.build.ProjectStateListener"/>
		<listener class="com.ti.ccstudio.energia.core.internal.legacy.ImplicitLegacySketchMigrator"/>
	</extension>
		
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association 
			content-type="org.eclipse.cdt.core.cxxSource"
			file-extensions="ino, pde"/>
	</extension>
	
	<extension point="org.eclipse.core.resources.variableResolvers">
		<variableResolver
			variable="ENERGIA_"
			class="com.ti.ccstudio.energia.core.internal.variables.EnergiaPathVariableResolver"/>
	</extension>

</plugin>
