<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension-point id="activityProviders" name="ActivityProviders" schema="schema/activityProviders.exsd"/>
	<extension point="org.eclipse.ant.core.antTasks">
		<!-- 
			NOTE: DVT ant task class names must be specified here so eclipse knows where to load the classes from.
			The DVT ant task names specified here are for reference only. 
			The actual DVT ant task names are automatically derived from the task class name by the DVT control engine, 
			and not by eclipse extension points in order to support the same naming when using eclipse and when using scripting outside eclipse.
			DVT ant task name are determined from the class name as follows: 
			com.ti.dvt.control.engine.tasks.TaskName -> <dvt.task.name>
		-->
		<antTask 
			class="com.ti.dvt.control.engine.tasks.SolutionLoad" 
			library="com.ti.dvt.control.engine.tasks.jar"
			name="dvt.solution.load">
	  	</antTask>
		<antTask 
			class="com.ti.dvt.control.engine.tasks.SolutionClose" 
			library="com.ti.dvt.control.engine.tasks.jar"
			name="dvt.solution.close">
	  	</antTask>
		<antTask 
			class="com.ti.dvt.control.engine.tasks.SolutionStop" 
			library="com.ti.dvt.control.engine.tasks.jar"
			name="dvt.solution.stop">
	  	</antTask>
		<antTask 
			class="com.ti.dvt.control.engine.tasks.SolutionReset" 
			library="com.ti.dvt.control.engine.tasks.jar"
			name="dvt.solution.reset">
	  	</antTask>
		<antTask 
			class="com.ti.dvt.control.engine.tasks.Property" 
			library="com.ti.dvt.control.engine.tasks.jar"
			name="dvt.property">
	  	</antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.ConfigMessage"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.config.message">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.ConfigFile"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.config.file">
      </antTask>
	  	<antTask
			class="com.ti.dvt.control.engine.tasks.ConfigWizard"
			library="com.ti.dvt.control.engine.tasks.jar"
			name="dvt.config.wizard">
	  	</antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.ConfigProperty"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.config.property">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.ViewShow"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.view.show">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.MenuContext"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.menu.context">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.DataproviderAdd"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.dataprovider.add">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.AnalysisfeatureAdd"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.analysisfeature.add">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.Hookup"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.hookup">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.Connect"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.connect">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.Configure"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.configure">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.Start"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.start">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.Stop"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.stop">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.Cleardata"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.cleardata">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.Reset"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.reset">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.Call"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.call">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.Remove"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.remove">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.Configuration"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.configuration">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.Status"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.status">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.Execute"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.execute">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.Setloglevel"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.setloglevel">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.Script"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.script">
      </antTask>
		<!-- 
			TODO: Consider moving trace-specifc tasks outside of com.ti.dvt.control.engine.tasks.jar into a trace-specific .jar file. 
      <antTask
            class="com.ti.dvt.control.engine.tasks.TraceviewerCreate"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.traceviewer.create">
      </antTask>
      <antTask
            class="com.ti.dvt.control.engine.tasks.TraceviewerCommand"
            library="com.ti.dvt.control.engine.tasks.jar"
            name="dvt.traceviewer.command">
      </antTask>
		-->      
	</extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="com.ti.dvt.control.engine.jar">
      </extraClasspathEntry>
      <extraClasspathEntry
            library="com.ti.dvt.control.engine.tasks.jar">
      </extraClasspathEntry>
      <extraClasspathEntry
            library="bsf.jar">
      </extraClasspathEntry>
      <extraClasspathEntry
            library="commons-logging-api-1.1.1.jar">
      </extraClasspathEntry>
   </extension>
</plugin>
