<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

	<extension point="com.ti.ccstudio.project.core.buildDefinitionContributions">
		<xmlRepository 
			isaFamily="MSP432" 
			location="resources/buildDefinitions/msp432"/>
		<xmlRepository 
			isaFamily="TMS470" 
			location="resources/buildDefinitions/tms470"/>
	</extension>

	<extension point="com.ti.ccstudio.project.core.codegenToolFactories">
		<factory
			toolChain="TICLANG" 
			class="com.ti.ccstudio.buildDefinitions.TICLANG.tools.TICLANGCodegenToolFactory"/>
	</extension>
	
	<extension point="com.ti.common.project.core.configurationBuildMacroSupplierDelegates">
		<delegate class="com.ti.ccstudio.buildDefinitions.TICLANG.TICLANGConfigurationBuildMacroSupplierDelegate"/>
	</extension>
	<extension point="com.ti.common.project.core.configurationEnvironmentSupplierDelegates">
		<delegate class="com.ti.ccstudio.buildDefinitions.TICLANG.TICLANGConfigurationEnvironmentSupplierDelegate"/>
	</extension>
			
</plugin>
