<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.ti.common.ui.preferences.TIPreferencePage/com.ti.dvt.datamodel.ui.preferences.page/"
            name="Disk Usage"
            class="com.ti.util.diskspacemonitor.preferences.PreferencePage"
            id="com.ti.util.diskspacemonitor.preferences.PreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.ti.util.diskspacemonitor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="com.ti.util.diskspacemonitor.Activator"/>
   </extension>

</plugin>
