<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

	<extension point="com.ti.ccstudio.project.core.buildDefinitionContributions">
		<xmlRepository
			isaFamily="C2000" 
			location="resources/buildDefinitions"/>
	</extension>
	
	<extension point="com.ti.ccstudio.project.core.deviceDefinitionContributions">
		<xmlRepository 
			isaFamily="C2000" 
			location="resources/deviceDefinitions"/>
	</extension>
	
</plugin>
