<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.ti.common.ui.preferences.TIPreferencePage/com.ti.dvt.datamodel.ui.preferences.page/"
            class="com.ti.dvt.sourceref.preferences.SlrPage"
            id="com.ti.dvt.sourceref.SlrPreference"
            name="Source Line Reference">
         <keywordReference id="com.ti.dvt.sourceref.SlrPreference.keyword"/>
      </page>
   </extension>

</plugin>
