<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
	name="ARM Compiler Version 18.1 User's Guides"
	id="com.ti.arm.18.1.help_18.1.0.20181119225258"
	version="18.1.0"
	provider-name="Texas Instruments">
	<extension point="org.eclipse.help.toc">
		<toc file="toc.xml" primary="true" />
	</extension>
	<extension point="org.eclipse.help.toc">
		<toc file="toc.xml" />
		<toc file="cug_toc.xml" />
		<toc file="alt_toc.xml" />
	</extension>
</plugin>
