<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

	<extension point="com.ti.ccstudio.project.core.codegenToolFactories">
		<factory
			toolChain="GNU" 
			class="com.ti.ccstudio.buildDefinitions.GNU.tools.GNUCodegenToolFactory"/>
	</extension>
	
	<extension point="com.ti.common.project.core.configurationBuildMacroSupplierDelegates">
		<delegate class="com.ti.ccstudio.buildDefinitions.GNU.GNUConfigurationBuildMacroSupplierDelegate"/>
	</extension>
	<extension point="com.ti.common.project.core.configurationEnvironmentSupplierDelegates">
		<delegate class="com.ti.ccstudio.buildDefinitions.GNU.GNUConfigurationEnvironmentSupplierDelegate"/>
	</extension>
			
</plugin>
