<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="com.ti.dvt.ui.views.line:SingleTime*"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <view
               id="com.ti.dvt.ui.views.line:DualTimeA*"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <view
               id="com.ti.dvt.ui.views.line:Real*"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <view
               id="com.ti.dvt.ui.views.line:Magnitude*"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <view
               id="com.ti.dvt.ui.views.line:MagnitudeOnly*"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.ti.dvt.graph.visualization.graph"
            label="Graph Menu"
            visible="false">
        
           <menu
               id="com.ti.dvt.tools.menu"
               label="&amp;Tools">
            	<separator name="graph"/>
            	<groupMarker name="additions"/>
         	</menu>
       	 <action
               class="com.ti.dvt.graph.visualization.actions.DualTimeGraphAction"
               helpContextId="Dual Time"
               icon="icons/line.gif"
               id="com.ti.dvt.graph.visualization.actions.viewGraph:DualTime"
               label="&amp;Dual Time"
               menubarPath="com.ti.dvt.tools.menu/com.ti.dvt.graph.visualization/main"
               style="push"
               tooltip="Dual Time"/>
            <action
              class="com.ti.dvt.graph.visualization.actions.SingleTimeFrequencyGraphAction"
              icon="icons/line.gif"
              id="com.ti.dvt.graph.visualization.actions.STF"
              label="&amp;Single Time"
              menubarPath="com.ti.dvt.tools.menu/com.ti.dvt.graph.visualization/main"
              style="push"
              tooltip="Single Time"/>
          <action
               class="com.ti.dvt.graph.visualization.actions.FFTWaterfallGraphAction"
               icon="icons/line.gif"
               id="com.ti.dvt.graph.visualization.actions.viewGraph:FFT:WATERFALL"
               label="FFT Waterfall"
               menubarPath="com.ti.dvt.tools.menu/com.ti.dvt.graph.visualization/FFT"
               style="push"
               tooltip="FFT Waterfall"/>
          <action
               class="com.ti.dvt.graph.visualization.actions.ComplexFFTGraphAction"
               icon="icons/line.gif"
               id="com.ti.dvt.graph.visualization.actions.viewGraph:FFT:Complex"
               label="Complex FFT"
               menubarPath="com.ti.dvt.tools.menu/com.ti.dvt.graph.visualization/FFT"
               style="push"
               tooltip="Complex FFT"/>
         <action
               class="com.ti.dvt.graph.visualization.actions.FFTMagnitudePhaseGraphAction"
               icon="icons/line.gif"
               id="com.ti.dvt.graph.visualization.actions.viewGraph:FFT:MTF"
               label="&amp;FFT Magnitude Phase"
               menubarPath="com.ti.dvt.tools.menu/com.ti.dvt.graph.visualization/FFT"
               style="push"
               tooltip="FFT Magnitude Time Frequency"/>
         <action
               class="com.ti.dvt.graph.visualization.actions.FFTMagnitudeGraphAction"
               icon="icons/line.gif"
               id="com.ti.dvt.graph.visualization.actions.viewGraph:FFT:MT"
               label="FFT Magnitude"
               menubarPath="com.ti.dvt.tools.menu/com.ti.dvt.graph.visualization/FFT"
               style="push"
               tooltip="FFT Magnitute Time"/>
         <menu
               id="com.ti.dvt.graph.visualization"
               label="&amp;Graph"
               icon="icons/line.gif"
               path="com.ti.dvt.tools.menu/graph">
            <separator name="main"/>
            <separator name="FFT"/>
            <separator name="other"/>
         </menu>
      </actionSet>
   </extension>
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="com.ti.ccstudio.TIDebugPerspective">
			<actionSet id="com.ti.dvt.graph.visualization.graph"/>
		</perspectiveExtension>	
		<perspectiveExtension targetID="com.ti.dvt.perspective">
			<actionSet id="com.ti.dvt.graph.visualization.graph"/>
		</perspectiveExtension>	
	</extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="com.ti.dvt.graph.visualization.GraphVisualizationPlugin"/>
   </extension>
</plugin>
