<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.ti.dvt.control.engine.activityProviders">
      <activityProvider
            class="com.ti.dvt.analysis.suite.UseCaseActivityProvider"
            id="com.ti.dvt.analysis.suite.UseCaseActivityProvider"
            name="Use Case Activity Provider"/>
      <activityProvider
            class="com.ti.dvt.analysis.suite.ExampleActivityProvider"
            id="com.ti.dvt.analysis.suite.ExampleActivityProvider"
            name="Example Activity Provider"/>
   </extension>
	<extension point="org.eclipse.ant.core.antTasks">
		<!-- 
			NOTE: DVT ant task class names must be specified here so eclipse knows where to load the classes from.
			The DVT ant task names specified here are for reference only. 
			The actual DVT ant task names are automatically derived from the task class name by the DVT control engine, 
			and not by eclipse extension points in order to support the same naming when using eclipse and when using scripting outside eclipse.
			DVT ant task name are determined from the class name as follows: 
			com.ti.dvt.control.engine.tasks.TaskName -> <dvt.task.name>
		-->
		<antTask 
			class="com.ti.dvt.analysis.tasks.Import" 
			library="com.ti.dvt.analysis.tasks.jar"
			name="dvt.import">
	  	</antTask>
	  	<antTask
	  		class="com.ti.dvt.analysis.tasks.Configaf"
	  		library="com.ti.dvt.analysis.tasks.jar"
	  		name="dvt.configaf">
	  	</antTask>
	</extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="com.ti.dvt.analysis.tasks.jar">
      </extraClasspathEntry>
   </extension>
</plugin>
