<main role="main">
  <div align="center" style="margin-top: 10em;">
    <h2> Loading... </h2>
    <br>
    <p>Starting TIREX...<br />
      Do not close Resource Explorer while operation is in progress
    </p>

    <img id="loading-spinner" src="images/TIREX.gif" style="max-width: 10%; max-height: 10%;"></img>

    <span ng-show="show_progress">
    <div class="importingPackages">
      <div>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <span class="text" ng-model="importPackagesMessage" style="margin-top:10px;"> {{ importPackagesMessage }}</span>
      </div>
    </div>

    <div>
      <div class="import-message" style="height: 25px; padding-top: 5px; font-size: 13px"> {{ waitingMessage }} </div>
      <div class="progress" style="width:300px">
        <div class="progress-bar progress-bar-stripes active" aria-valuemin="0" aria-valuemax="100" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( progress + '%' ) }" >{{progress}}%</div>
      </div>
    </div>
  </span>
  </div>
</main>