<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

	<extension point="org.eclipse.cdt.core.ErrorParser"
		id="CoffErrorParser"
		name="%cppParserName">
		<errorparser class="com.ti.ccstudio.errorparser.parsers.CoffErrorParser"/>
	</extension>
	<extension point="org.eclipse.cdt.core.ErrorParser"
		id="AsmErrorParser"
		name="%asmParserName">
		<errorparser class="com.ti.ccstudio.errorparser.parsers.AsmErrorParser"/>
	</extension>
	<extension point="org.eclipse.cdt.core.ErrorParser"
		id="LinkErrorParser"
		name="%linkerParserName">
		<errorparser class="com.ti.ccstudio.errorparser.parsers.LinkErrorParser"/>
	</extension>
	<extension point="org.eclipse.cdt.core.ErrorParser"
		id="SysConfigErrorParser"
		name="%sysConfigParserName">
		<errorparser class="com.ti.ccstudio.errorparser.parsers.SysConfigErrorParser"/>
	</extension>

	<extension point="com.ti.common.project.core.projectStateListeners">
		<listener class="com.ti.ccstudio.errorparser.ProjectStateListener"/>
	</extension>

    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="com.ti.ccstudio.errorparser.parsers.PreferenceInitializer">
       </initializer>
    </extension>
    
</plugin>
