<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="ciProviders" name="CI Provider" schema="schema/ciProviders.exsd"/>
   <extension
         point="com.ti.dvt.ui.paneProviders">
      <paneProvider
            class="com.ti.dvt.via.imvr.internal.PaneProvider"
            id="com.ti.dvt.via.imvr.paneProvider"
            name="DVT image pane provider"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.ti.dvt.via.imvr.loadImage"
            contextId="com.ti.dvt.via.imvr.image"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+O"/>
      <key
            commandId="com.ti.dvt.via.imvr.saveImage"
            contextId="com.ti.dvt.via.imvr.image"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+S"/>
      <key
            commandId="com.ti.dvt.via.imvr.importProperties"
            contextId="com.ti.dvt.via.imvr.image"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+I"/>
      <key
            commandId="com.ti.dvt.via.imvr.exportProperties"
            contextId="com.ti.dvt.via.imvr.image"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+X"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Load image displayed on this view"
            id="com.ti.dvt.via.imvr.loadImage"
            name="Load Image"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Save image displayed on this view"
            id="com.ti.dvt.via.imvr.saveImage"
            name="Save Image"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Import properties of this view"
            id="com.ti.dvt.via.imvr.importProperties"
            name="Import Properties"/>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Export Properties of this view"
            id="com.ti.dvt.via.imvr.exportProperties"
            name="Export Properties"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="A DVT image view is open"
            id="com.ti.dvt.via.imvr.image"
            name="In DVT Image Views"
            parentId="com.ti.dvt.ui.view.graph"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <!--viewerContribution
            id="com.ti.dvt.via.imvr.data"
            targetID="com.ti.dvt.ui.views.image">
         <action
               class="com.ti.dvt.via.imvr.internal.SaveImageAction"
               definitionId="com.ti.dvt.via.imvr.saveImage"
               icon="icons/image_save.gif"
               id="com.ti.dvt.via.imvr.SaveImageAction"
               label="Save Image..."
               menubarPath="data.ext"/>
         <action
               class="com.ti.dvt.via.imvr.internal.LoadImageAction"
               definitionId="com.ti.dvt.via.imvr.loadImage"
               icon="icons/image_load.gif"
               id="com.ti.dvt.via.imvr.LoadImageAction"
               label="Load Image..."
               menubarPath="data.ext"/>
      </viewerContribution-->
      <viewerContribution
            id="com.ti.dvt.via.imvr.viewImage"
            targetID="com.ti.dvt.ui.views.image">
         <action
               class="com.ti.dvt.ui.views.core.ShowPropertyAction"
               definitionId="org.eclipse.ui.file.properties"
               id="com.ti.dvt.via.view.ShowPropertyAction"
               label="Properties"
               menubarPath="prop.group"
               tooltip="Show Properties"/>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="com.ti.dvt.via.imvr.imageProp"
            objectClass="com.ti.dvt.ui.views.core.ImageProp">
         <action
               class="com.ti.dvt.via.imvr.internal.ExportPropAction"
               definitionId="com.ti.dvt.via.imvr.exportProperties"
               icon="icons/prop_export.gif"
               id="com.ti.dvt.via.imvr.ExportPropAction"
               label="Export Properties..."
               menubarPath="prop.group"/>
         <action
               class="com.ti.dvt.via.imvr.internal.ImportPropAction"
               definitionId="com.ti.dvt.via.imvr.importProperties"
               icon="icons/prop_import.gif"
               id="com.ti.dvt.via.imvr.ImportPropAction"
               label="Import Properties..."
               menubarPath="prop.group"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="com.ti.dvt.ui.viewCategory.dataView"
            class="com.ti.dvt.ui.views.core.ImageView:image"
            icon="icons/image.gif"
            id="com.ti.dvt.ui.views.image"
            name="%imageViewName"/>
   </extension>

</plugin>
