<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.ti.dvt.sourceref.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            id="com.ti.dvt.sourceref.docProvider"
            inputTypes="com.ti.dvt.sourceref.actions.EditorInput"/>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.ti.dvt.sourceref.SlrPreference.keyword"
            label="source search path"/>
      <keyword
            id="com.ti.dvt.sourceref.SlrPreference.keyword"
            label="data field"/>
   </extension>
   <extension
         point="com.ti.dvt.ui.recordSelection">
      <recordSelection
            class="com.ti.dvt.sourceref.RecordSelected"
            id="com.ti.dvt.sourceref.recordSelection"
            name="Record Selection">
      </recordSelection>
   </extension>

</plugin>
