<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="httpSourceContainer" name="httpSourceContainer" schema="schema/httpSourceContainer.exsd"/>
   <extension-point id="httpRouteProvider" name="httpRouteProvider" schema="schema/httpRouteProvider.exsd"/>
   <extension
         point="com.ti.browser.browserExtensionContributor">
      <browserExtension
            class="com.ti.ccstudio.webcontent.internal.CommonBrowserExtensionContributor">
      </browserExtension>
   </extension>
   <extension point="org.eclipse.ui.startup">
      <startup class="com.ti.ccstudio.webcontent.CCSHttpServer"/>	
   </extension>   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:com.ti.ccstudio.debug.ui.viewsMenu?after=com.ti.ccstudio.debug.ui.viewsMenu.group.gc">
         <separator
               name="com.ti.ccstudio.webcontent.command.application.separator"
               visible="true">
         </separator>
         <menu
               icon="icons/obj16/gui_icon.png"
               id="com.ti.ccstudio.debug.ui.viewsMenu.group.gc.menu"
               label="%manMenu_label">
            <command
                  commandId="com.ti.ccstudio.webcontent.command.designer"
                  label="%designerMenu_label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <or>
                        <equals
                              value="com.ti.ccstudio.TICPerspective">
                        </equals>
                        <equals
                              value="com.ti.ccstudio.TIDebugPerspective">
                        </equals>
                     </or>
                  </with>
               </visibleWhen>
            </command>
            <menu
                  id="com.ti.ccstudio.webcontent.menu.application"
                  label="%applicationMenu_label">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <or>
                        <equals
                              value="com.ti.ccstudio.TICPerspective">
                        </equals>
                        <equals
                              value="com.ti.ccstudio.TIDebugPerspective">
                        </equals>
                     </or>
                  </with>
               </visibleWhen>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.ti.ccstudio.webcontent.menu.application">
         <dynamic
               class="com.ti.ccstudio.webcontent.guicomposer.ApplicationContributionItems"
               id="com.ti.ccstudio.webcontent.command.application.contributionItems">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="com.ti.ccstudio.webcontent.guicomposer.ApplicationViewPart"
            id="com.ti.ccstudio.webcontent.guicomposer.application.viewer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.ti.ccstudio.webcontent.command.designer"
            name="%designerMenu_label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ti.ccstudio.webcontent.guicomposer.OpenDesignerHandler"
            commandId="com.ti.ccstudio.webcontent.command.designer">
      </handler>
   </extension>
   <extension
         point="com.ti.ccstudio.webcontent.httpRouteProvider">
      <httpRouteProvider
            class="com.ti.ccstudio.webcontent.cloudagent.CloudAgentRouteProvider">
      </httpRouteProvider>
   </extension>
<!--
   <extension
         point="org.eclipse.core.runtime.preferences">
         <initializer
               class="com.ti.ccstudio.webcontent.internal.PreferenceInitializer">
         </initializer>
   </extension>
   <extension
         point="com.ti.common.ui.preferences">
      <preferences
            class="com.ti.ccstudio.webcontent.internal.PreferencesContribution">
      </preferences>
   </extension>
-->
</plugin>
